<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :first_name,
                hint: "leave it blank if you don't want to change it",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_name" },
                input_html: { class: 'input-field' }%>
    <%= f.input :last_name,
                hint: "leave it blank if you don't want to change it",
                required: true,
                input_html: { autocomplete: "last_name" },
                input_html: { class: 'input-field' }%>
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" },
                input_html: { class: 'input-field' } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" },
                input_html: { class: 'input-field' } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" },
                input_html: { class: 'input-field' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "w-100 btn btn-flat" %>
  </div>
<% end %>

<h3>Cancel my account</h3>
<br>
<div class="d-flex align-items-center">
  <div>Unhappy?</div>
  <br>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "w-50 btn btn-flat" %>
</div>
<br>
<%= link_to "Back", :back %>
