<div class="container">
<br>
  <h2 class= "$h2-font">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>


    <div class="form-inputs">
      <%= f.input :first_name,
                  label: "Prénom",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first_name" },
                  input_html: { class: 'input-field' }%>
      <%= f.input :last_name,
                  label: "Nom",
                  required: true,
                  input_html: { autocomplete: "last_name" },
                  input_html: { class: 'input-field' } %>
      <%= f.input :email,
                  label: "Email",
                  required: true,
                  input_html: { autocomplete: "email" },
                  input_html: { class: 'input-field' }%>
      <%= f.input :password,
                  label: "Mot de passe",
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" },
                  input_html: { class: 'input-field' } %>
      <%= f.input :password_confirmation,
                  label: "Confirmation du mot de passe",
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  input_html: { class: 'input-field' } %>
      <%= f.input :photo, as: :file %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "S'INSCRIRE", class: "w-100 btn btn-flat"%>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
