<div class="container mt-5 my-2 h3">

<p> <br></p>

  <%= simple_form_for(project) do |f| %>
    <%= f.input :title, label: "Titre du jeu : ",  input_html: { class: 'input-field' } %>
    <p> <br></p>
    <%= f.input :besty_first_name, label: "Pour qui crées-tu ce jeu ? ",  input_html: { class: 'input-field' } %>
    <p> <br></p>
    <%= f.input :description, label: "Description du jeu : ", input_html: { class: 'input-field' }  %>
    <p> <br></p>
    <%= f.input :photo, as: :file, label: "Photo du jeu :", input_html: { class: 'fileinput-button ' } %>
    <p> <br></p>
    <div class="mt-5">
      <%= f.submit class: "w-100 btn btn-flat",  value: "Créer ton jeu"%>
    </div>
  <% end %>
</div>
