<style>
  a, p, h2, i{
 text-decoration:  none;
}
</style>

<div class="grey-banner">

  <div class="container mt-2">
    <h1 class="bienvenue bg-white margin-top-card "> Bienvenue <%= @current_user.first_name %> 👋 </h1>
    <p class="h3 mt-4 mb-4"> Un de tes amis fête bientôt son anniversaire ? <br>
    Offre-lui une expérience unique avec BE MY BEST ! </p>

    <% if @current_user_projects.empty? %>
      <p class="p"><%= link_to "Créer un nouveau jeu 🎨", new_project_path, class: "btn btn-flat w-100"%></p>
    <% else %>
      <%= link_to "Créer un nouveau jeu 🎨", new_project_path, class: "btn btn-flat w-100 my-2"%>
      <h2 class= " my-4 m-3 h1"> <i class="fa-solid fa-puzzle-piece"></i> Mes jeux : </h2>

      <div class="cards" data-controller="favorite">
        <% @current_user_projects.each do |project| %>
          <div class="card-category m-3">
          <%= link_to project_path(project) do %>
            <% if project.photo.attached? %>
              <%= cl_image_tag project.photo.key, class: "img-card w-100"%>

              <div class="card-description-p d-block mb-2">

                <div class="d-flex justify-content-between">
                  <h2 class="h2"> <%= project.title %> </h2>
                  <% if project.favorite %>
                    <i class="fa-solid fa-heart card-project-favorite mx-2" data-action="click->favorite#fav" data-favorite-project-id-param="<%= project.id %>" ></i>
                  <% else %>
                    <i class="fa-regular fa-heart card-project-favorite mx-2" data-action="click->favorite#fav" data-favorite-project-id-param="<%= project.id %>"></i>
                  <% end %>
                </div>

                <div class="d-flex justify-content-between">
                  <p class="p">  <%= project.description.length > 25 ? "#{project.description.first(25)}..." : project.description %></p>
                  <%= link_to project_path(project), data: {turbo_method: :delete, turbo_confirm: "Confirmes-tu la suppression de ce projet ?"} do %>
                    <i class="fa-solid fa-trash card-project-trash mx-2"></i>
                  <% end %>
                </div>

              </div>
            <% end %>

          </div>

        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>

<%= render "shared/navbar_dark" %>
