<h1> Merci d'avoir joué</h1>

<style type="text/css">
  .container {
    width: 350px;
    height: 700px;
    border: 2px solid black
  }

</style>

<div class="container">
  <%= cl_image_tag @memories.first.photo.key, class: "img-montage" %>
  <%= cl_image_tag @memories.second.photo.key, class: "img-montage" %>
  <%= cl_image_tag @memories.third.photo.key, class: "img-montage" %>
  <%= cl_image_tag @memories.fourth.photo.key, class: "img-montage" %>
  <%= cl_image_tag @memories.fifth.photo.key, class: "img-montage" %>
  <%= cl_image_tag @memories.last.photo.key, class: "img-montage" %>
</div>
