<div class="container">
  <br>
  <h2 class="h1 text-center">Connexion</h2>
<br>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <div class="form-inputs h3">
      <%= f.input :email,
                  label: "Email",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  input_html: { class: 'input-field' }  %>

      <%= f.input :password,
                  label: "Mot de passe",
                  required: false,
                  input_html: { autocomplete: "current-password" },
                  input_html: { class: 'input-field' }  %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Me connecter", class: "w-100 btn btn-flat" %>
    </div>
  <% end %>

  <div class="d-flex justify-content-between mt-5">
  <%= render "devise/shared/links" %>
  </div>
 </div>
