<h1 class="d-none" > Mon jeu personnalisé  </h1>

<% if @cards.any? %>

  <div class="game-cards">
    <% @cards.each do |card| %>
      <div class="card-category-game" id="card_<%= card.id %>">
        <% card_memory = @memories.find_by(card: card) %>
        <p> <%= card.question %> ?</p>

        <% if card_memory %>
          <div class="card-image">
            <%= cl_image_tag card_memory.photo.key, class: "img-card d-block w-100"%> <br>
          </div>
          <div class= "d-flex justify-content-center">
            <%= link_to "Sélectionner un souvenir", project_card_path(@project, card), class: "btn btn-flat" %>
          </div>
          <div class="card-form">
            <%= simple_form_for [@project, card_memory], html: {"data-turbo": false} do |f| %>
            <br>
              <%= f.input :response, label: "Saisir la réponse"%>
              <div class= "d-flex justify-content-center">
              <%= f.submit class: "btn btn-flat w-100", value: "Enregistrer votre réponse" %>
              </div>
            <% end %>
          </div>

        <% else %>
          <p>Affecter la carte</p>
          <%= link_to "Choisir un souvenir", project_card_path(@project, card), class: "btn btn-flat"%>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>Le scenario est vide</p>
<% end %>


<%= link_to "Simuler le jeu",  project_games_path(@project), class: "btn btn-flat" %>
