<div class="grey-banner container">
  <h1 class="h1 bg-white margin-show-list"> Souvenirs disponibles </h1>
  <p class="p bg-white"><%= @card.question %> ?</p>

  <div class="cards">
    <% @available_memories.each do |memory| %>

        <div class="card-category-game bg-white">
          <%= cl_image_tag memory.photo.key, class: "img-card d-block w-100"%>

          <div>
            <p class="h4"><%=  memory.legend %> </p>
          </div>

          <div>
            <%= simple_form_for [@project, memory], html: {"data-turbo": false} do |f| %>
              <%= f.hidden_field :card_id, value: @card.id %>
              <% if @card_memory %>
                <%= f.hidden_field :response, value: @card_memory.response %>
              <% end %>
              <%= f.submit class: "btn btn-flat", value: "Compléter le souvenir"  %>
            <% end %>
          </div>

        </div>

    <% end %>
  </div>

  <h1 class="h1"> Souvenirs déjà utilisés </h1>

  <div class="cards">
    <% @used_memories.each do |memory| %>

        <div class="card-category-game bg-white">
          <%= cl_image_tag memory.photo.key, class: "img-card d-block w-100"%>

          <div>
            <p><%=  memory.legend %> </p>
          </div>

          <div>
            <p class="p">Ce souvenir est associé à la question :</p>
            <%= memory.card.question%>
          </div>

        </div>

    <% end %>
  </div>
</div>
<%= render "shared/navbar" %>
